[Unit]
Description=Telegram Encryption Bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /app/bot.py
Restart=always
WorkingDirectory=/app
User=root

[Install]
WantedBy=multi-user.target
